---
import Layout from '../layouts/Layout.astro';
import CourseCard from '../components/courses/CourseCard.astro';
import HeaderNew from '../components/HeaderNew.astro';
import InstaCard from '../components/posts/InstaCard.astro'
---

<Layout title="Meka.dev">
	<HeaderNew slot="header"/>
    <div class="mt-36 sm:mt-40" />

    <div class="mb-8">
        <h1 class="text-5xl text-white md:text-6xl tracking-tighter px-4 font-bold text-center">Bienvenido a Me<span class="text-orange-600">k</span>a.dev <span class="hidden md:inline">- Aprende sobre programación y desarrollo web. </h1></span>
        <p class=" text-white text-center mx-auto text-md mt-4 px-3 md:px-36">
            En <span class="font-semibold">Meka.dev</span> nos encargamos de que seas capaz de plasmar tus proyectos relacionados con la programación y hacerlos realidad. <span class="hidden md:inline">Contamos con contenido y material de aprendizaje de primera calidad. Si quieres aprender a programar de una manera <span class="font-light text-orange-600">rápida</span> y <span class="font-light text-orange-600">sencilla</span>,  ¿Y por qué no? <span class=" text-orange-600">divertida</span>, síguenos en Instagram. </span>
        </p>

        <div class="flex flex-col md:flex-row gap-3 justify-center py-4 px-16">
            <a href="/courses" class="text-white text-center justify-center flex gap-2 px-6 bg-orange-700 hover:scale-90 hover:bg-opacity-80 ease-in-out transition-all duration-200 p-3 rounded-3xl font-semibold" > Aprende Ahora <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-hand-click"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5" /><path d="M11 11.5v-2a1.5 1.5 0 0 1 3 0v2.5" /><path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5" /><path d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" /><path d="M5 3l-1 -1" /><path d="M4 7h-1" /><path d="M14 3l1 -1" /><path d="M15 6h1" /></svg></a>
            <a  href="https://www.instagram.com/meka.dev?igsh=MWV1dTE1b2Vydjg3Zw==" class="text-white text-center  px-6 border-2 p-3 inline-block rounded-3xl font-semibold hover:bg-orange-700 hover:bg-opacity-10 hover:border-orange-700 hover:border-opacity-0 hover:scale-90 ease-in-out transition-all duration-200"> Nuestro Instagram </a>
           
        </div>
        

    </div>

    <div class="p-4 my-10 mt-20"> <!--Seccion de los Cursos -->
            
        <div class="lg:flex">
            <div>
                <h2 class="text-white font-bold text-2xl p-4 -mb-2 lg:text-5xl">Explora y Aprende con Nuestros Cursos</h2>
                <a class="text-white font-semibold text-sm p-4 hover:text-orange-600 transition-all ease-in-out duration-200" href="/courses">Ver Todos los Cursos »</a>
            </div>
            <p class="px-4 my-4 mb-8 text-sm lg:w-1/2 mt-6  text-gray-300 text-opacity-80">Todos nuestros cursos son fáciles de comprender, además de que muchos de ellos traen consigo ejemplos prácticos a la hora de programar. No te quedes con las ganas de aprender algo nuevo mientras estés en Meka.dev</p>
        </div>
        
        <div class="flex flex-col md:grid md:grid-cols-2 lg:flex lg:flex-row">
            
            <CourseCard title='Aprende JavaScript' picture='photos/courses/JavaScript.png' description='Empieza tu viaje en JavaScript, el lenguaje de programacion más usado, Con este curso garantizamos que domines las nociones básicas del lenguaje. ¡Explora nuestro curso ya!' alt='Logo de JavaScript' date='' link='/courses/javascript' preview={true}>
            </CourseCard>
            
            <CourseCard title='Aprende Python' picture='photos/courses/Python.png' description='Python es sin duda un lenguaje muy potente con muchisimas utilidades, puede ser empleado para desarrollar aplicaciones de windows, inteligencia artificial, el backend de paginas webs, etc.' alt='Logo de Python' date='' link='/courses/python' preview={true}>
            </CourseCard>

            <CourseCard title='Aprende HTML' picture='photos/courses/HTML.png' description='¿Quieres convertirte en un desarrollador web? Pues antes de caminar aprende a gatear, con nuestro curso de HTML sabrás toda la estructura de una página web.' alt='Logo de HTML' date='' link='/courses/html' preview={true}>
            </CourseCard>

            <CourseCard title='Aprende C++' picture='photos/courses/C++.png' description='C++ es un lenguaje de programación que proviene de la extensión del lenguaje C. Es un lenguaje orientado a objetos que se ha hecho muy popular. Comienza a aprenderlo desde ya.' alt='Logo de C++' date='' link='/courses/c++' preview={true}>
            </CourseCard>
        </div>
    </div>

    <div class="p-4 py-10 mt-20"> <!--Seccion de Instagram Posts -->
        <div class="text-center">
            <p class="font-semibold text-white">INSTAGRAM</p>
            <h3 class="font-bold text-3xl md:text-4xl text-orange-600">Mira Reels, y  Carruseles de Instagram</h3>
            <p class="font-semibold text-gray-300 text-opacity-80 text-lg px-2 py-4 md:px-52">Siguiéndonos en Instagram podrás disfrutar de nuestro contenido y también interactuar con nosotros mediante Stories. Les agradecemos cada pequeña interacción.</p>
        </div>
        
        <div class="flex flex-col md:flex md:flex-row">

           <InstaCard picture='photos/postsImages/p0001.jpg' alt='Conceptos Básicos del POO' link='https://www.instagram.com/p/C3tj4nYOvpn/'>
           </InstaCard>

           <InstaCard picture ='photos/postsImages/p0002.jpg' alt='¿Por qué deberías de usar Python?' link='https://www.instagram.com/p/C3K3p0nuPvR/'>
           </InstaCard>

           <InstaCard picture='photos/postsImages/p0003.jpg' alt='Conceptos Básicos de programación' link='https://www.instagram.com/p/C3EcONhOgKB/'>
           </InstaCard>

           
        </div>
        <div class="text-center">
            <a class="text-white font-semibold text-sm p-4 hover:text-orange-600 transition-all ease-in-out duration-200" href="https://www.instagram.com/meka.dev?igsh=MWV1dTE1b2Vydjg3Zw==">Ver todos los posts »</a>
        </div>
        

    </div>

    <div class="p-4 py-10 mt-20"> <!-- Seccion del FAQ -->
        <div class="text-center">
            <p class="font-semibold text-white">FAQS</p>
            <h3 class="font-bold text-3xl md:text-4xl text-orange-600">Frequently Asked Questions</h3>
            <p class="font-semibold text-gray-300 text-opacity-80 text-lg px-2 py-4 md:px-52">Nuestra comunidad está en crecimiento. Algunas de las preguntas frecuentes que nos han hecho son estas:</p>
        </div>
        
        <div class="flex flex-col md:grid md:grid-cols-2">
            <div>
                <h4 class="text-white flex items-center font-bold text-xl mt-4"><svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ea580c"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>¿Qué hace diferente a Meka?</h4>
                
                <p class="py-3 px-7 text-gray-300 text-opacity-80">Si algo de nosotros destacara, eso sería el gran vínculo con nuestra comunidad que tenemos y las ganas apasionadas de interactuar con ustedes. ¡Unéte y forma parte de la diversion!</p>    
            </div>
            
            <div>
                <h4 class="text-white flex items-center font-bold text-xl mt-4"><svg xmlns="http://www.w3.oWrg/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ea580c"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>¿Dónde puedo hacer Feedback?</h4>
                
                <p class="py-3 px-7 text-gray-300 text-opacity-80">Para ponerte en contacto con nosotros, ya sea para negocios o feedback, puedes enviarnos un correo o un mensaje directo a nuestra cuenta de Instagram</p>    
            </div>

            <div>
                <h4 class="text-white flex items-center font-bold text-xl mt-4"><svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ea580c"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>¿No tienen Telegram?</h4>
                
                <p class="py-3 px-7 text-gray-300 text-opacity-80">Por supuesto que tenemos <a class="text-orange-600 hover:text-opacity-80" href="https://t.me/meka_dev">Telegram</a>, si quieres formar parte de la comunidad y estar al tanto de todas nuestras noticias te recomendamos que te pases por allá. </p>    
            </div>

            <div>
                <h4 class="text-white flex items-center font-bold text-xl mt-4"><svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ea580c"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>¿Qué necesito para comenzar a Programar?</h4>
                
                <p class="py-3 px-7 text-gray-300 text-opacity-80">Creemos que solamente necesitas tres cosas. Un ordenador, Acceso a Nuestra página y Muchas muchas ganas de aprender y convertirte en un programador. Recuerda que si no superamos nuestros miedos se convertirán en nuestros límites.</p>    
            </div>
        
        </div>
    </div>

</Layout>

