---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContainerGrid from '../components/ContainerGrid.astro';
import ContainerSimple from '../components/ContainerSimple.astro';
import HeaderComplete from '../components/HeaderComplete.astro';
import HeaderNew from '../components/HeaderNew.astro';
---

<Layout title="Meka.dev">
	<HeaderNew slot="header"/>
    <div class="mt-40">

    </div>
    <ContainerSimple>
        <div class="flex items-center">
            <div class="lg:w-9/12 mx-auto">
                <div class=" w-11/12 md:w-11/12 mx-auto my-3 bg-gray-800 bg-opacity-30  border border-neutral-800 shadow-2xl rounded-xl p-4">
               
                    <div class="flex items-end">
                        
                        
                        

                        <div class=" flex flex-col justify-end">
                            <h1 class="text-center font-bold text-3xl cursor-default lg:text-5xl text-orange-500">¿Quiénes somos?</h1>
                        </div>

                    </div>
                    
                    <p class="cursor-default text-justify text-gray-200 text-opacity-80 mt-4 font-light tracking-tight">Meka.dev es una agencia de coding dirigida generalmente a programadores principiantes que necesitan aprender a programar de manera rápida y sencilla. Nuestro equipo no está formado por expertos, al contrario queremos instruirnos junto con ustedes y formar parte de nuestro viaje. No solo somos una empresa, con la ayuda de vosotros podemos formar una comunidad en la cual todos sean bienvenidos.</p>
                </div>
            </div>





            <div class="lg:flex flex-col w-9/12 h-5/6 hidden">
                <ContainerSimple>
                    <h1 class="cursor-default font-bold text-2xl text-left text-orange-500">¿A qué nos dedicamos?</h1>
                    <p class="cursor-default mt-3 font-light text-gray-200 text-opacity-80 text-justify tracking-tight">Nos dedicamos principalmente a subir a Instagram, contenido de aprendizaje relacionado con la programación. (Posts, Reels, Stories, Cursos) también tenemos una comunidad de Telegram.</p>
                </ContainerSimple>

                <ContainerSimple>
                    <h1 class="cursor-default font-bold text-2xl text-left text-orange-500">¿Qué tenemos en mente?</h1>
                    <p class="cursor-default mt-3 font-light text-gray-200 text-opacity-80 text-justify tracking-tight">En un futuro tenemos en mente realizar una página web donde estén disponibles todos nuestros cursos y sea más fácil la distribución de estos. También brindamos servicios de desarrollo de sofware o web.</p>
                </ContainerSimple>
            </div>

        </div>
    </ContainerSimple>


    <ContainerGrid tittle='Ultimas Actualizaciones' explora='' href='/posts'>
     
        <Card link='https://www.instagram.com/p/C3tj4nYOvpn/?igsh=aTdqcjJhemd5cGVn' picture='photos/postsImages/p0001.jpg' tittle='Programación Orientada a Objetos' description='Conceptos Básicos del POO' etiquetas={["Programacion", "Python"]}/>

        <Card link="https://www.instagram.com/p/C3EcONhOgKB/?igsh=d3l0ZGQzYTE5Y24z" picture='photos/postsImages/p0003.jpg' tittle='¿Por qué deberías de usar Python?' description='Carácteristicas de Python' etiquetas={["Programacion", "Python"]}/>
            
        <div class=" hidden lg:block">
            <Card link='https://www.instagram.com/p/C3EcONhOgKB/?igsh=d3l0ZGQzYTE5Y24z' picture='photos/postsImages/p0002.jpg' tittle='Aprende a Programar desde Cero' description='Conceptos Básicos de programación' etiquetas={["Programacion", "Python"]}/>
           
        </div>

    </ContainerGrid>

    <ContainerGrid tittle='Posts' explora='Explora demás Posts' href='/posts'>
    
        <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        <div class=" hidden md:block">
            <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        </div>
        <div class=" hidden md:block">
            <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        </div>
        <div class=" hidden md:block">
            <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        </div>
        <div class=" hidden md:block">
            <Card link="" picture=' Red.jpg' tittle='Un post' description='Esto es una pruebade un post' etiquetas={["Programacion", "Python", "C++"]}/>
        </div>
    </ContainerGrid>   

    <ContainerGrid tittle='Aprende programación con nuestros cursos' explora='Explora más cursos' href='/'>

        <Card link="" picture='photos/courses/Python.png' tittle='Curso de Python' description='Recopilacion de posts de Meka.Dev acerca de Python' etiquetas={["Programacion", "Python"]}/>

        <Card link="" picture='photos/courses/JavaScript.png' tittle='Curso de JavaScript' description='Recopilacion de posts de Meka.Dev acerca de JS' etiquetas={["Programacion", "JS"]}/>

        <div class=" hidden lg:block">
            <Card link="" picture='photos/courses/HTML.png' tittle='Curso de HTML' description='Recopilacion de posts de Meka.Dev acerca de HTML' etiquetas={["Programacion", "HTML"]}/>
        </div>    
    </ContainerGrid>
</Layout>

