---
import FooterButtom from "./FooterButtom.astro"
---

<footer class=" px-4 mx-auto mt-6 pt-8 pb-8 lg:px-8 lg:pb-8 bg-neutral-900">
    <div class="flex flex-col mx-auto w-4/5 lg:w-3/5">
        <FooterButtom href="https://www.instagram.com/meka.dev?igsh=MWV1dTE1b2Vydjg3Zw==">
            <svg slot="before-text" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
              </svg>
            Siguenos en Instagram
        </FooterButtom>
        <h1 class="mx-auto text-center text-white font-semibold">Copyright 2024 - Meka.dev todos los derechos reservados.</h1>
    <div>

</footer>