---
interface Props {
    href:string,
}
const {href} = Astro.props
---

<a class=" text-md flex-row justify-center  text-white cursor-pointer hover:bg-orange-800 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-100 gap-x-2 opacity-90 hover:opacity-100" href={href}>
    
    <slot name="before-text" />
    <slot />
    <slot name="after-text" />
</a>