---
import HeaderButtom from "./HeaderButtom.astro"

---
<header class="fixed w-screen bg-neutral-900 z-10">

    <div class="p-6">
        <div class="flex justify-between">
            <div class="flex items-center ">
                <img class="w-8 h-8 mr-4 " src="LogoTransparencia.png" alt="">
                <a class=" text-3xl tracking-tight font-bold block text-white hover:relative hover:-translate-y-1 transition-all duration-500 ease-in-out" href="/">
                    Me<span class=" text-orange-600">k</span>a.dev 
                    </a>
            </div>
       
            <div class="flex">

                <HeaderButtom  href="/posts">
                    <svg slot="before-text" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
                        <path d="M13 8l2 0" />
                        <path d="M13 12l2 0" />
                      </svg>
                      
                    Explora Nuestro Contenido
                </HeaderButtom>
        
                <HeaderButtom href="/about">
                    <svg slot="before-text" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                        <path d="M12 9h.01" />
                        <path d="M11 12h1v4h1" />
                      </svg>
                      
                    Sobre Nosotros
                </HeaderButtom>
        
                <HeaderButtom  href="mailto:mekadev.feedback@gmail.com">
                    <svg slot="before-text" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
                        <path d="M3 6l9 6l9 -6" />
                        <path d="M15 18h6" />
                        <path d="M18 15l3 3l-3 3" />
                      </svg>
                      
                    Envíanos un Correo
                </HeaderButtom>
            </div>
        </div>
    </div>
    <div class="bg-neutral-800 p-1.5">
        <p class="text-center mx-auto text-gray-300  text-md font-light">Agencia de coding dirigida generalmente a programadores principiantes que necesitan aprender a programar de manera <span class=" text-orange-600">rápida</span> y <span class=" text-orange-600">sencilla</span>.</p>
    </div>
</header>