---
import HeaderNew from "../../components/HeaderSimplify.astro"
import TextCourse from "../../components/courses/TextCourse.astro"
import TitleCourse from "../../components/courses/TitleCourse.astro"
import MarkDownLayout from "../../layouts/PostLayout.astro"
export const lenguaje = "Javascript"
---

<MarkDownLayout title="HTML">
    <HeaderNew pagina="HTML" slot="header"></HeaderNew>
    <div class="mt-20 mx-auto max-w-3xl">
        <p class="text-white flex gap-1 text-sm px-4 items-center">
            <svg width="14"  height="14"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 7v5l3 3" /></svg>
            
            5 junio 2024
        </p>

        <h1 class="text-white text-4xl font-bold px-4 hover:text-orange-600 transition-all ease-in-out duration-200 mt-2.5 mb-3 lg:text-5xl">Aprende HTML</h1>

        <p class=" px-4 text-lg text-gray-300 text-opacity-80 mb-5 lg:text-xl">con nuestro curso de HTML sabrás toda la estructura de una página web.</p>

        </div>
    <img class="rounded-xl p-2 lg:max-w-4xl lg:mx-auto lg:rounded-2xl" src="/photos/courses/HTML.png" alt="">

    <div class="max-w-3xl mx-auto">
        <TextCourse>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</TextCourse>

        <TitleCourse>Nostra torquent consequat volutpat aliquet neque</TitleCourse>

        <TextCourse>Lorem ipsum dolor sit amet consectetur adipiscing elit proin, aenean litora volutpat urna egestas magnis arcu non, cras ut cursus et sed morbi lectus. Integer faucibus sagittis eu nunc urna aliquet a laoreet torquent, suspendisse penatibus nulla sollicitudin congue rutrum dictum. Ornare mi habitasse fermentum phasellus dui et morbi litora sodales dictum id erat, nibh purus class ligula aenean lectus venenatis euismod cras torquent ac. Senectus sagittis conubia hendrerit at egestas porta venenatis nisi metus gravida tempor, aenean facilisis nisl ante facilisi lacus integer hac iaculis purus. Scelerisque libero torquent egestas curae tellus viverra inceptos imperdiet urna, porta suspendisse interdum primis odio morbi tempor commodo dictumst, suscipit ornare habitasse semper feugiat cras quisque lobortis.</TextCourse>

        <TextCourse>Iaculis arcu commodo dis proin vitae himenaeos, ante tristique potenti magna ligula, sagittis libero fermentum ullamcorper sociis. Sem eros non arcu natoque fringilla lacus vestibulum lacinia integer mus viverra in proin, sagittis fusce tortor erat enim rutrum vulputate curae laoreet class diam. Inceptos convallis ac nisi natoque nam quisque magnis ut nullam fringilla curae, luctus lacus purus habitant erat magna molestie class habitasse metus, nibh lobortis tortor curabitur neque phasellus feugiat netus morbi parturient. Neque malesuada mauris justo himenaeos pharetra, ullamcorper enim ligula a nulla consequat, eget vivamus velit ridiculus.</TextCourse>

        <TitleCourse>Praesent tellus ad sapien erat or</TitleCourse>
        
        <li class="">Quam orci nostra mi nulla, hac a.</li>
        <li>Interdum iaculis quis tellus sociis orci nulla, quam rutrum conubia tortor primis.</li>
        <li>Non felis sem placerat aenean duis, ornare turpis nostra.</li>
        <li>Habitasse duis sociis sagittis cursus, ante dictumst commodo.</li>

        <TextCourse>
            Duis maecenas massa habitasse inceptos imperdiet scelerisque at condimentum ultrices, nam dui leo enim taciti varius cras habitant pretium rhoncus, ut hac euismod nostra metus sagittis mi aenean. Quam eleifend aliquet litora eget a tempor, ultricies integer vestibulum non felis sodales, eros diam massa libero iaculis.
        </TextCourse>

        <TextCourse>
            Dictumst pellentesque urna donec sociis suscipit montes consequat, commodo quam habitasse senectus fringilla maecenas, inceptos magna tristique eu nullam nam. Maecenas orci nibh hac eu tristique ut penatibus ultrices ante, pellentesque cubilia pharetra dis facilisis aliquam praesent malesuada vivamus, commodo cras velit convallis molestie nec tellus augue. Etiam ut convallis risus id dapibus platea laoreet accumsan, habitant et aenean netus inceptos iaculis per, mauris curae at ligula odio ad eu. Mauris erat tempor interdum sapien commodo per nullam tortor, fusce facilisis vehicula egestas dui nulla conubia ut fames, fringilla et tincidunt penatibus facilisi at mollis.
        </TextCourse>
    </div>

    <div class="md:max-w-3xl mx-auto flex flex-col sm:pr-6 sm:flex-row sm:justify-between sm:mt-6">

        <div class="flex gap-2 mt-8 ml-6">
            <label class="bg-orange-700 py-1 px-2 text-sm rounded-xl text-white">HTML</label>
        </div>
    
        <div class="flex gap-2 ml-6 mt-6">
            <p class="opacity-70 text-white">Compartir: </p>
    
            <a class="opacity-70 hover:opacity-100 text-white" href="https://api.whatsapp.com/send/?text=Empiza+a+aprender+HTML+en+Meka+https%3A%2F%2Fmeka.pages.dev%2Fcourses%html&type=custom_url&app_absent=0" title="Compartir con WhatsApp">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            </a>
    
            <a class="opacity-70 hover:opacity-100 text-white" href="" title="Compartir con Telegram">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>
            </a>
    
            <a class="opacity-70 hover:opacity-100 text-white" href="" title="Compartir con Isntagram">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
            </a>
    
            <a class="opacity-70 hover:opacity-100 text-white" href="" title="Compartir con X">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
            </a>
        </div>
    </div>

    <div class="md:max-w-3xl">

        <a class=" flex p-8 mt-12 text-white opacity-65 " href="/courses">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
    
            Volver a Nuestros Cursos
        </a>
    </div>



</MarkDownLayout>

<style>
    li {
        margin-top: 1rem;
        padding: 0 2.25rem;
        color: white;
        opacity: 0.85;

    }

</style>
